@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "TSTAR Pro Regular";
	src: url("/fonts/TStarProRegular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TSTAR Pro Bold";
	src: url("/fonts/TStarProBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TSTAR Pro Light";
	src: url("/fonts/TStarProLight.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "TSTAR Pro Medium";
	src: url("/fonts/TStarProMedium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

.font-tstar-regular {
	font-family: "TSTAR Pro", sans-serif;
}

.font-tstar-bold {
	font-family: "TSTAR Pro Bold", sans-serif;
}

.font-tstar-light {
	font-family: "TSTAR Pro Light", sans-serif;
}

.font-tstar-medium {
	font-family: "TSTAR Pro Medium", sans-serif;
}

* {
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.btn-action:hover .arrow-bounce {
	animation: bounceLeftRight 0.6s infinite ease-in-out;
}

.btn-action:hover .arrow-bounce-vertical {
	animation: bounceTopDown 0.6s infinite ease-in-out;
}

@keyframes bounceLeftRight {
	25% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5px);
	}
}

@keyframes bounceTopDown {
	25% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
}

.nav-item {
	@apply relative pb-2;
}

.nav-item .active-link::before {
	content: "";
	width: 6px;
	height: 6px;
	background-color: #b92322;
	border-radius: 100px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
